@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
/* ===== Reset start ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	font-size: 15px;
}
body {
	font-family: 'open_sanslight', sans-serif;
	color: #777;
	margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* ===== Reset end ===== */

/* ===== Grid layout start ===== */
.container {
	width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: "";
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1 {	
	width: 8.333333333%;
}
.col-2 {	
	width: 16.666666667%;
}
.col-3 {	
	width: 25%;
}
.col-4 {	
	width: 33.333333333%;
}
.col-5 {	
	width: 41.666666667%;
}
.col-6 {	
	width: 50%;
}
.col-7 {	
	width: 58.333333333%;
}
.col-8 {	
	width: 66.666666667%;
}
.col-9 {	
	width: 75%;
}
.col-10 {	
	width: 83.333333333%;
}
.col-11 {	
	width: 91.666666667%;
}
.col-12 {	
	width: 100%;
}
/* ===== Grid layout end ===== */

/* ===== Default classes start ===== */
.text-center {
	text-align: center;
}
.bg-black {
	background-color: #111;
}
.text-right {
	text-align: right;
}
/* ===== Default classes end ===== */

/* ===== Default component start ===== */
.default-section {
	padding: 140px 0;
}
.default-text {
	font-family: 'open_sanslight', sans-serif;
	font-size: 15px;
	line-height: 26px;
}
.btn {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-family: 'open_sansregular', sans-serif;
	text-transform: uppercase;
	border-radius: 3px;
	letter-spacing: .2em;
	line-height: 1em;
	cursor: pointer;
}

/* dark button style start, both the same */
.btn.btn-default {
	background-color: rgba(0, 0, 0, .8);
	padding: 11px 16px;
}
/* dark button style end */

/* read more link style start */
.btn.btn-small {
	font-size: 11px;
	padding: 8px 14px;
	background-color: rgba(255, 255, 255, .8);
	color: #777;
}
/* read more link style end */

/* lightgrey button style start, both the same */
.btn.btn-medium {
	padding: 13px 40px;
	background-color: rgba(255, 255, 255, .8);
	color: #111;
}
/* lightgrey button style end */

.title {
	font-size: 18px;
	color: #111;
	font-weight: normal;
	letter-spacing: .5em;
	text-transform: uppercase;
	margin-bottom: 85px;
	font-family: 'dosisregular', sans-serif;
}
.title.title-light {
	letter-spacing: .3em;
	font-family: 'dosislight', sans-serif;
}
.title.title-white {
	color: #fff;
}
/* ===== Default component end ===== */

/* ===== Custom style start ===== */
/* header style start */
.header {
	position: fixed;
	top: 0;
    left: 0;
	right: 0;
	z-index: 999;
	background-color: transparent;
	padding: 25px 0;
	overflow: hidden;
}
/* header fixed position and transparent background must to be inspect later, issue scroll down */
.header .logo {
	float: left;
	line-height: 0;
}
.header .header-nav-menu {
	float: right;
}
.header .header-nav-menu li {
	float: left;
	line-height: 21px;
}
.header .header-nav-menu li + li {
	margin-left: 35px;
}
.header .header-nav-menu li a {
	font-family: 'open_sansregular', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
}
/* header style end */

/* main style start */
.inner {
	position: relative;
	height: 100vh; 
	padding-top: 72px;
	background: url("../img/main-bg.jpg") no-repeat center / cover; 
}
.inner-content {
	max-width: 920px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.inner-content h1 {
	font-family: 'dosisregular', sans-serif;
	font-size: 30px;
	color: rgba(255, 255, 255, .9);
	line-height: 1;
	margin-bottom: 100px;
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	text-transform: uppercase;
}
.inner-content p {
	font-family: 'open_sanslight', sans-serif;
	font-size: 19px;
	color: rgba(255, 255, 255, .68);
	line-height: 1;
}
/* main style end */

/* about studio start */
.about-studio .row + .row {
	margin-top: 100px;
}
.about-studio blockquote {
	font-size: 24px;
	line-height: 38px;
}
.about-studio blockquote p {
	margin-bottom: 10px;
}
.about-studio blockquote span {
	font-size: 11px;
	letter-spacing: .2em;
	font-family: 'open_sansregular', sans-serif;
	text-transform: uppercase;
}
.team-item-info {
	margin-top: 30px;
}
.team-item-info span {
	display: block;
	font-family: 'dosisregular', sans-serif;
	letter-spacing: .4em;
	text-transform: uppercase;
	line-height: 24px;
}
.team-item-role {
	font-size: 12px;
}
/* about studio end */

/* lets talk start */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}
.lets-talk .title {
	line-height: 26px;
	margin-bottom: 30px;
}
.lets-talk-img {
	margin-top: -32px;
}
.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 40px;
}
/* lets talk end */

/* why chose us start */
.why-choose-us .row + .row {
	margin-top: 85px;
}
.advantage-icon {
	font-size: 48px;
	line-height: 1em;
	color: #111;
}
.advantage-title {
	font-family: 'dosisregular', sans-serif;
	font-size: 14px;
	letter-spacing: .4em;
	line-height: 1em;
	color: #111;
	text-transform: uppercase;
	padding: 35px 0;
}
.why-choose-us .default-text {
	font-size: 14px;
}
/* why chose us end */
/* ===== Custom style end ===== */